.btn-dropdown {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;

}

.icon {
    width: 20px;
    height: 20px;
    color: $gray;
}

.divider {
    display: block;
    width: 214px;
    height: 1px;
    border: 1px solid $borderGray;
    margin: 0 20px;
}

.blue {
    color: $blue;
}

.red {
    color: $red;
}

.pink {
    color: $pink;
}