@mixin custom-scrollbar() {
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
  
      &:hover {
        background-color: $borderGray;
      }
    }
  
    &::-webkit-scrollbar {
      width: 4px;
      height: 10px;
      background-color: $white;
    }
}

@mixin simple-hover() {
  &:hover{
    background-color: $lightGray;
    border-radius: 8px;
  }
}