$white: #FFFFFF;
$black: #0A0D14;
$gray: #525866;
$gray-medium: #868C98;
$gray-light: #F6F8FA;
$gray-border: #E2E4E9;
$orange: #FF4A00;
$red: #DF1C41;
$pink: #E255F2;
$blue: #6E3FF3;
$blue-ocean: #35B9E9;
$yellow: #F2AE40;
$green: #14AB86;