@import 'variables';
@import 'normalize';
@import 'global';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    @include custom-scrollbar();
}

main{
    position: relative;
    width: calc(100% - 273px);
    left: 273px;
    transition: 0.5s;

    &.toggle{
        width: calc(100% - 80px);
        left: 80px;
        transition: 0.5s;
    }
}

.sidebar{
    position: fixed;
    width: 272px;
    height: 100%;
    background-color: $white;
    border-right: 1px solid $borderGray;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
    @include custom-scrollbar();

    &.toggle {
        width: 80px;
        transition: 0.5s;

        .nav-text,
        .identity,
        .btn-dropdown,
        .shortcut {
            display: none;
            transition: 0.5s;
        }
    }   
}

.logo, .profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 12px;

    .identity {
        .title{
            display: flex;
            align-items: center;
            @include text-setup(14px, 20px, 500);

            .icon{
                color: $oceanBlue;
                margin: 0 0 0 5px;
            }
        }

        .subtitle{
            @include text-setup(12px, 16px, 400);
        }

    }
}

.navbar {
    width: 272px;
}

.menu {
    padding: 20px 20px 0 20px;
    
    .title {
        height: 24px;
        padding: 4px;
        margin: 8px 0;
        text-transform: uppercase;
        color: $mediumGray;
        @include text-setup(14px, 20px, 500);
    }

    .nav-list {
        .nav-link {
            display: flex;
            height: 36px;
            padding: 8px 12px;
            margin: 8px 0 0 0;
            color: $gray;
            @include text-setup(14px, 20px, 500);

            .icon {
                margin: 0 8px 0 0;

                &.dot {
                    font-size: 36px;
                }
            }
            
            .shortcut {
                width: 37px;
                height: 20px;
                padding: 0;
                background: $white;
                border: 1px solid $borderGray;
                border-radius: 4px;
                color: $mediumGray;
                @include text-setup(14px, 20px, 500);
            }

            &.fav-link{
                justify-content: space-between;
                
                .list-content{
                    display: flex;
                    align-items: center;
                }
            }

            &.router-link-active {
                background-color: $lightGray;
                color: $black;
                border-radius: 8px;

                .icon {
                    color: $orange;
                }
    
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 20px;
                    width: 4px;
                    border-radius: 0 4px 4px 0;
                    background-color: $orange;
                    
                }
            }

            @include simple-hover();
        }
    }

    &.tools{
        margin: 80px 0 16px 0;
    }
}

.topbar {
    display: flex;
    justify-content: space-between;
    height: 88px;

    .profile{
        justify-content: flex-start;
        padding: 20px 32px;
        width: auto;

        .btn {
            margin: 0 16px 0 0;
        }

        .avatar {
            height: 48px;
            width: 48px;
            margin: 0 14px 0 0;
        }

        .title {
            @include text-setup(18px, 24px, 500);
        }

        .subtitle {
            @include text-setup(14px, 20px, 400);
        }
    }
}

.topbar-tools{
    padding: 24px 32px;

    .btn{
        height: 40px;
        min-width: 40px;
        color: $gray;
        margin: 0 0 0 12px;

        &.btn-orange {
            color: $white;
            min-width: 160px;
            
            .icon {
                color: $white;
            }
        }

        &.btn-outline{
            min-width: 124px;
        }
    }
}

.home {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "card1 card2 card4"
        "card1 card3 card4"
        "card5 card5 card6"
    ;    
  
    .card1 {
        grid-area: card1;
    }
  
    .card2 {
        grid-area: card2;
    }
  
    .card3 {
        grid-area: card3;
    }
  
    .card4 {
        grid-area: card4;
    }
  
    .card5 {
        grid-area: card5;
    }
  
    .card6 {
        grid-area: card6;
    }
}

.timer-card {
    height: 158px;
    margin: 16px 0;
    border: 1px solid $borderGray;
    border-radius: 10px;

    .heading {
        display: flex;
        height: 32px;
        padding: 6px 12px;
        background-color: $lightGray;
        border-radius: 10px 10px 0 0;
        border: 1px solid $borderGray;
        flex-direction: row;
        align-items: center;

        .title {
            color: $gray;
            @include text-setup(14px, 20px, 400);
        }
    }

    .counter {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px 16px 10px;

        .status {
            text-transform: uppercase;
            color: $gray;
            @include text-setup(11px, 12px, 500);
        }

        .numbers {
            display: flex;
            @include text-setup(40px, 48px, 500);

            .seconds {
                color: $mediumGray;
            }
        }
    }
    
    .action {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .btn {
            display: inline-flex;
            @include text-setup(12px, 16px, 500);
            
            .icon {
                margin: 0 4px 0 0;
            }
            
            &.orange {
                color: $orange;

                .icon {
                    color: $orange;
                }
            }

            &.red {
                color: $red;

                .icon {
                    color: $red;
                }
            }

            &.black {
                color: $black;

                .icon {
                    color: $black;
                }
            }

            @include simple-hover();
        }
    }

}

.history {
    .title {
        margin: 0 0 14px 0;
        color: $gray;
        @include text-setup(11px, 12px, 500)
    }

    .history-item {
        display: flex;
        justify-content: space-between;
        margin: 14px 0 16px 0;

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;        
            width: 40px;
            height: 40px;
            border: 1px solid $borderGray;
            border-radius: 100%;
            margin: 0 10px 0 0;

            .icon {
                color: $blue;
            }
        }

        .item-content {
            width: 230px;

            .item-title {
                @include text-setup(14px, 20px, 400)
            }

            .item-timer {
                @include text-setup(12px, 16px, 400)
            }
        }
    }

    .not-history {
        height: 100%;
        @include not-information();
    }
}

.card {
    .divider {
        margin: 16px 0;
    }
}

.work-time {
    height: 24px;
    @include text-setup(16px, 24px, 400);

    span {
        font-weight: 500;
    }
}

.work-progress{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0;
    gap: 6px;

    span {
        height: 10px;
        width: 30%;
        border-radius: 2px;
        background-color: $borderGray;
    }

    &.colorize {        
        .relax {
            background-color: $yellow;
        }

        .active {
            background-color: $oceanBlue;
        }

        .extra-hour {
            background-color: $blue;
        }
        
    }
}

.work-label {
    span {
        color: $borderGray;
        margin: 0 16px 0 0;
        @include text-setup(12px, 16px, 400);
        
        .icon {
            color: $borderGray;
            margin: 0 4px 0 0;
        }
    }

    &.colorize {
        span {
            color: $gray;
        }
        
        .relax {
            .icon{
                color: $yellow;
            }
        }

        .active {
            .icon{
                color: $oceanBlue;
            }
        }

        .extra-hour {
            .icon{
                color: $blue;
            }
        }
        
    }
    
}

.coursesProgress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .progress {
        width: 80px;
        height: 80px;
    }

    .content-courses{
        width: 220px;

        h4 {
            height: 20px;
            @include text-setup(14px, 20px, 500);
        }

        p {
            height: 32px;
            margin: 4px 0 8px 0;
            @include text-setup(12px, 16px, 400);
        }

        a {
            color: $orange;
            text-decoration: underline;
            @include text-setup(12px, 16px, 500)
        }
    }
}

.highlights {    
    .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        margin: 16px 0;
        background-color: $lightGray;
        border-radius: 10px;

        .btn {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            width: 33%;
            height: 28px;
            padding: 0;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $gray;
            width: 33%;

            &.active {
                background-color: $white;
                box-shadow: 0px 2px 4px 0px #1B1C1D05;
                box-shadow: 0px 6px 10px 0px #1B1C1D0F;

            }
        }
    }

    .not-highlight{
        min-height: 250px;
        @include not-information();
    }
}

.courses {
    .table{
        width: 100%;
        margin: 16px 0;
        border-collapse: collapse;

        thead {
            height: 36px;
            background-color: $lightGray;
            color: #CDD0D5;
            @include text-setup (14px, 36px, 400);
            
            th {
                border-radius: 8px;
            }
        }
    }
    .not-courses{
        min-height: 250px;
        @include not-information();
    }
}

.feedback {
    .not-feedback{
        min-height: 300px;
        @include not-information();
    }
}

.not-content{
    height: 100vh;
    height: calc(100vh - 88px);
    width: calc(100vw - 273px);
    @include not-information();
}

@import 'mobile';