@import 'variables';
@import 'normalize';
@import 'global';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    @include custom-scrollbar()
}

main{
    position: relative;
    width: calc(100% - 273px);
    left: 273px;
}

.sidebar{
    position: fixed;
    width: 272px;
    height: 100%;
    background-color: $white;
    border-right: 1px solid $borderGray;
    overflow-y: scroll;
    overflow-x: hidden;
    @include custom-scrollbar()
}

.logo, .profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 12px;

    .identity {
        .title{
            display: flex;
            align-items: center;
            height: 20px;
            font-size: 14px;
            font-weight: 500;

            .icon{
                color: $oceanBlue;
                margin: 0 0 0 5px;
            }
        }

        .subtitle{
            height: 16px;
            font-size: 12px;
            font-weight: 400;
        }

    }
}

.navbar {
    width: 272px;
}

.menu {
    padding: 20px 20px 0 20px;
    
    .title {
        height: 24px;
        padding: 4px;
        margin: 8px 0;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: $mediumGray;
    }

    .nav-list {
        .nav-link {
            display: flex;
            height: 36px;
            padding: 8px 12px;
            margin: 8px 0 0 0;
            color: $gray;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;

            .icon {
                margin: 0 8px 0 0;

                &.dot {
                    font-size: 36px;
                }
            }
            
            .shortcut {
                width: 37px;
                height: 20px;
                padding: 0;
                background: $white;
                border: 1px solid $borderGray;
                border-radius: 4px;
                color: $mediumGray;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }

            &.fav-link{
                justify-content: space-between;
                
                .list-content{
                    display: flex;
                    align-items: center;
                }
            }

            &.router-link-active {
                background-color: $lightGray;
                color: $black;
                border-radius: 8px;

                .icon {
                    color: $orange;
                }
    
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 20px;
                    width: 4px;
                    border-radius: 0 4px 4px 0;
                    background-color: $orange;
                    
                }
            }

            @include simple-hover()
        }
    }

    &.tools{
        margin: 80px 0 16px 0;
    }
}

.topbar {
    display: flex;
    justify-content: space-between;
    height: 88px;

    .profile{
        justify-content: flex-start;
        padding: 20px 32px;
        width: auto;

        .avatar {
            height: 48px;
            width: 48px;
            margin: 0 14px 0 0;
        }

        .title {
            font-size: 18px;
            line-height: 24px;
        }

        .subtitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.topbar-tools{
    padding: 24px 32px;

    .btn{
        height: 40px;
        min-width: 40px;
        color: $gray;
        margin: 0 0 0 12px;

        &.btn-orange {
            color: $white;
            min-width: 160px;
            
            .icon {
                color: $white;
            }
        }

        &.btn-outline{
            min-width: 124px;
        }
    }
}

.home {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-areas:
        "card1 card2 card4"
        "card1 card3 card4"
        "card5 card5 card6"
    ;    
  
    .card1 {
        grid-area: card1;
    }
  
    .card2 {
        grid-area: card2;
    }
  
    .card3 {
        grid-area: card3;
    }
  
    .card4 {
        grid-area: card4;
    }
  
    .card5 {
        grid-area: card5;
    }
  
    .card6 {
        grid-area: card6;
    }
}

.timer-card {
    height: 158px;
    margin: 16px;
    border: 1px solid $borderGray;
    border-radius: 10px;

    .heading {
        display: flex;
        height: 32px;
        padding: 6px 12px;
        background-color: $lightGray;
        border-radius: 10px 10px 0 0;
        border: 1px solid $borderGray;
        flex-direction: row;
        align-items: center;

        .title {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $gray;
        }
    }

    .counter {
        display: flex;
        flex-direction: column;
        align-items: center;    
        padding: 18px 16px 10px;

        .status {
            font-size: 11px;
            font-weight: 500;
            line-height: 12px;
            text-transform: uppercase;
            color: $gray;
        }

        .numbers {
            font-size: 40px;
            line-height: 48px;
            font-weight: 500;
        }
    }
    
    .action {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .btn {
            display: inline-flex;
            color: $orange;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;

            .icon {
                color: $orange;
                margin: 0 4px 0 0;
            }

            @include simple-hover()
        }
    }

}

.history{
    height: 122px;

    .not-history {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    
        p{
            font-Weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $gray;
        }
    }
}

.card {
    .divider {
        margin: 16px 0;
    }
}

.work-time {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    span {
        font-weight: 500;
    }
}

.work-progress{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0;

    span {
        height: 10px;
        width: 30%;
        border-radius: 2px;
        background-color: $borderGray;
    }
}

.work-label {
    span {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: $borderGray;
        margin: 0 16px 0 0;
        
        .icon {
            color: $borderGray;
            margin: 0 4px 0 0;
        }
    }
    
}

.coursesProgress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;

    .progress {
        width: 80px;
        height: 80px;
    }

    .content-courses{
        width: 220px;

        h4 {
            height: 20px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }

        p {
            height: 32px;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin: 4px 0 8px 0;
        }

        a {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            color: $orange;
            text-decoration: underline;
        }
    }
}

.not-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: calc(100vh - 88px);
    width: calc(100vw - 273px);

    p {
        font-Weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $gray;
    }
}